<div id="filterrific_results">
  <% @topics.in_groups_of(4, false) do |topics_group| %>
    <div class="row">
    <% topics_group.each do |topic| %>
      <div class="bg-white border rounded-3 col-md-3 m-0">
        <br>
        <a class="topic-link" href="<%= topic_path(topic, url_path: topic.url_path) %>">
            <%= image_tag topic.image_url, width: '75%', class: 'img-responsive' %>
            <p class="col-md-6"><%= topic.title %></p>
        </a>
      </div>
      <br>
    <% end %>
    </div>
  <% end %>
  <br>
  <%= paginate @topics %>
</div>
